/** Global Contents */

@font-face {
  font-family: "Poppins-Light";
  src: url("../Resources/Fonts/Poppins-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../Resources/Fonts/Montserrat-Thin.woff2") format("woff2");
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins-Light", sans-serif;
}

body {
  background-image: url("../Resources/Images/Background_For_Passwords.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 50px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sidebar Box-1 Box-1 Box-3"
    "Sidebar Box-2 Box-2 Box-3";
}
.Box-1 {
  grid-area: Box-1;
}
.Box-2 {
  grid-area: Box-2;
}
.Box-3 {
  grid-area: Box-3;
}

/** Sidebar */

.Sidebar {
  grid-area: Sidebar;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 200px;
  min-width: 175px;
  background-color: rgba(50, 0, 107, 0.233);
  backdrop-filter: blur(15px);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  filter: drop-shadow(10px 0 6px rgba(0, 0, 0, 0.25));
  z-index: 101;
}

/** Segments and Boxes */

.Segment {
  width: 331px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.Box {
  width: 330px;
  height: 350px;
  display: flex;
  background: rgba(16, 49, 75, 0.432);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.6);
  border-radius: 22px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(16, 49, 75, 0.342);
  backdrop-filter: blur(5px);
  position: relative;
}

.Horizontal-Segment {
  width: 831px;
}

.Horizontal-Segment:nth-child(1) {
  margin-top: 50px;
}

.Horizontal {
  width: 830px;
  height: 275px;
  max-height: 46vh;
  padding: 15px;
}

.Vertical {
  height: 500px;
  align-content: flex-start;
  transition: height 1s;
}

.Vertical-with-Analysed {
  height: 777px;
}

.Password-Section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 15px;
}

.Functionality {
  display: flex;
  background: rgba(131, 131, 131, 0.5);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.6);
  border-radius: 22px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  backdrop-filter: blur(5px);
  position: relative;
}

.Functionality::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: 10;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(64, 6, 6, 0.1);
  backdrop-filter: blur(10px);
}

.Manager-Box {
  overflow: scroll;
}

/** Buttons */

.Extra-Functionality {
  position: relative;
  display: flex;
}

.Extra-Functionality li {
  position: relative;
  list-style: none;
  margin: 10px;
}

.Extra-Functionality li a {
  position: relative;
  top: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  z-index: 1;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  transition: top 0.5s, z-index 0.5s, transform 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}

.Extra-Functionality li a:hover {
  transition-delay: 0s, 0s, 0.5s;
  top: -50px;
  transform: translateY(50px);
  z-index: 11;
}

.Extra-Functionality li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}

.Extra-Functionality li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

.Password-Btn {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid #74b1ff;
  margin: 10px;
  text-transform: uppercase;
  background: linear-gradient(transparent, #0076);
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-delay: 0s;
  cursor: pointer;
}

.Password-Btn:hover {
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #74b1ff, 0 0 20px #74b1ff, 0 0 40px #74b1ff,
    0 0 80px #74b1ff, 0 0 160px #74b1ff;
}

.Password-Btn::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #74b1ff;
  box-shadow: 5px -8px 0 #74b1ff, 5px 8px 0 #74b1ff;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.Password-Btn:hover::before {
  width: 60%;
  height: calc(100% + 5%);
  left: -2px;
  box-shadow: 5px 0 0 #74b1ff, 5px 0 0 #74b1ff;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.Password-Btn::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #74b1ff;
  box-shadow: -5px -8px 0 #74b1ff, -5px 8px 0 #74b1ff;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.Password-Btn:hover::after {
  width: 60%;
  height: calc(100% + 5%);
  right: -2px;
  box-shadow: -5px 0 0 #74b1ff, -5px 0 0 #74b1ff;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.Modal {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: hidden; /* Enable scroll if needed */
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../Resources/Images/Background-Modal.svg");
}

.Edit-Modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Form {
  position: relative;
  margin: 250px auto;
  width: 370px;
  height: 315px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form h1 {
  line-height: 55px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Form .Field {
  position: relative;
  margin: 0 50px;
}
::-webkit-input-placeholder {
  color: #ffffff;
}

.Form input[type="password"] {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 10px 55px;
  position: relative;
  width: 300px;
  margin-top: 15px;
  height: 44px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
}

.Form input[type="username"] {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 10px 55px;
  position: relative;
  width: 300px;
  margin-top: 15px;
  height: 44px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
}

.Form .Field i {
  font-size: 18px;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 44px;
  width: 44px;
  color: #f7f3eb;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 15px;
  line-height: 44px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.Password-Input-Button {
  width: 200px;
  height: 40px;
  margin-top: 15px;
  color: #fff;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(0, 255, 255);
  background: linear-gradient(0deg, rgb(0, 187, 201) 0%, rgb(2, 234, 251) 100%);
}
.Password-Input-Button:hover {
  color: #fff;
  background: rgb(33, 193, 233);
  box-shadow: none;
}
.Password-Input-Button:before,
.Password-Input-Button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f00990;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.Password-Input-Button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.Password-Input-Button:hover:before,
.Password-Input-Button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* The Modal (background) */
.WrongPasswordModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.WrongPassword-Modal-Content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.Close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.Close:hover,
.Close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/** Text*/

.Sidebar-Heading {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  mix-blend-mode: soft-light;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
  margin-left: 15px;
  height: 25px;
}

.Sidebar-Subtext {
  text-indent: 30px;
  margin-top: 10px;
}

.Sidebar-Subtext a {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Selected {
  text-decoration: underline;
  text-decoration-color: rgb(213, 135, 135);
  text-decoration-thickness: 5px;
}

.Defining-Text {
  margin-bottom: 50px;
  height: 0%;
  color: #fff;
  text-shadow: 0px 10px 11px rgb(0, 0, 0);
}

.Text {
  color: greenyellow;
  padding: 15px;
  font-size: 25px;
  text-shadow: 4px 3px 14px rgb(0, 0, 0);
  text-align: center;
}
.Sub-Text {
  font-family: "Montserrat-Thin", sans-serif;
  font-size: 15px;
  color: #fff;
  animation: Fly-in 2s ease-out;
}

.Btn-Text {
  position: relative;
  z-index: 100;
}

.Sub-Heading {
  color: yellow;
  font-size: 15px;
}

.Result {
  color: red;
}

.Tooltip {
  opacity: 0;
  width: 100px;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.Tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.Extra-Functionality li:hover .Tooltip {
  transition: 2s ease-in;
  opacity: 1;
}

/** Miscellaneous*/

.Sidebar-List {
  margin-top: 15px;
}

.Password-Input {
  width: 250px;
  height: 30px;
  border: none;
  mix-blend-mode: screen;
  box-shadow: 0px 4px 45px 10px #be2c84;
  border-radius: 15px;
  text-indent: 10px;
}

.Analyser {
  background: linear-gradient(90.73deg, #db438c 2.83%, #9f18df 95.76%);
}

.Generator {
  background: linear-gradient(90.73deg, #86db43 2.83%, #df1818 95.76%);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow: scroll;
  overflow-y: hidden;
}

.Analyse {
  width: 40%;
}

.Password-Generator-Output {
  color: #000;
  height: 100%;
  width: 100%;
  font-size: 20px;
  z-index: 5;
}
.Analysed-Section {
  display: none;
}

.Analysed-Section-Expanded {
  display: block;
}
